.inicio-sesion {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.loginlogin {
  background-color: $white;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px $shadow-color;
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    @include hover-scale();
    background-color: rgba(255, 255, 255, 0.95);
  }

  h2 {
    margin-bottom: 20px;
    color: $primary-color;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;

    label {
      font-size: 14px;
      font-weight: 500;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
    }

    button {
      padding: 12px;
      background-color: $primary-color;
      color: $white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
  }
}

.registrar-cuienta {
  margin-top: 15px;
  font-size: 14px;

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;
  }
}
@media (max-width: $breakpoint-sm) {
  .formulario_login {
    padding: 15px;
    width: 90%;
  }

  .formulario_login input,
  .formulario_login button {
    font-size: 1rem;
  }
}