$primary-color: #0081bd;
$secondary-color: #00a8e8;
$white: #ffffff;
$black: #000000;
$shadow-color: rgba(0, 0, 0, 0.15);
$font-main: "Raleway",sans-serif;
$transition-default: all 0.3s ease;
$transition-fast: all 0.2s ease-in-out;